/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Make the body full height */
  font-family: Arial, sans-serif;
}

/* Root container to hold all content */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Header */
header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

header img {
  height: 50px;
}

/* Navigation */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Main content */
main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.week-specials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.week-specials button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #eded20;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

main .card {
  background-color: #ecf3f3;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}